@model IEnumerable<NotesApp.Models.Note>

<h1>All Notes</h1>

<p><a asp-action="Create">Add New Note</a></p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Created At</th>
            <th>Reminder</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var note in Model)
    {
        <tr>
            <td>@note.Title</td>
            <td>@note.CreatedAt.ToString("g")</td>
            <td>
                @if(note.ReminderAt.HasValue)
                {
                    @note.ReminderAt.Value.ToString("g")
                }
                else
                {
                    <em>No reminder</em>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
